.container-half {
  width: 50%;
}

.container-full {
  width: 100%;
}

.bordered-top {
  border-top: 2px solid white;
}

.bordered-bot {
  border-bottom: 2px solid white;
}

.container-30 {
  width: 30%;
}

.container-60 {
  width: 60%;
}

.container-40 {
  width: 40%;
}

.container-70 {
  width: 70%;
}

.container-80 {
  width: 80%;
}

.foto {
  width: 110px;
}

.bingkai {
  border: 5px solid white;
  background-color: white;
}

.box {
  width: 150px;
}
